{% extends "admin/change_form.html" %}

{% load static %}

{% block admin_change_form_document_ready %}
    {{ block.super }}

    <script type="text/javascript">
        var $ = django.jQuery;

        var conf = {
            // Map
            mapContainerSelector: $('.field-coords div:first-child'),
            width: 800, // pixels
            height: 600, // pixels
            imageryDate: '2017-01-16',
            projection: {
                code: 'EPSG:3031',
                def: "+proj=stere +lat_0=-90 +lat_ts=-71 +lon_0=0 +k=1 +x_0=0 +y_0=0 " +
                     "+datum=WGS84 +units=m +no_defs",
                validityExtent: [-4194304, -4194304, 4194304, 4194304]
            },

            // Scientific name suggestion
            snsuggest_container_selector: $('.field-scientific_name div:first-child'),
            sn_value_selector: $("#id_scientific_name"),

            icon_success: '{% static "admin/img/icon-yes.svg" %}',
            icon_warning: '{% static "admin/img/icon-alert.svg" %}',
            icon_error: '{% static "admin/img/icon-no.svg" %}'
        };

        var exactMatchAction = function (r) {
            var res = '<img src="' + conf.icon_success + ' " /> ';
            res += 'Ok, exact species name found at GBIF ';
            res += 'with a confidence score of <strong>' + r.confidence + '</strong>';

            return res;
        };

        var fuzzyMatchAction = function (r) {
            var res = '<img src="' + conf.icon_warning + ' " /> ';
            res += 'Fuzzy match at GBIF ';

            res += '(' + '<strong><i>' + r.canonicalName + '</i></strong>' + ' confidence: ' + r.confidence + ')';

            return res;
        };

        var higherrankAction = function (r) {
            var res = '<img src="' + conf.icon_warning + ' " /> ';
            res += 'Higher taxon found at GBIF ';
            res += '(' + r.rank + ': ' + r.canonicalName + ')';

            return res;
        };

        var noneAction = function (r) {
            var res = '<img src="' + conf.icon_error + ' " /> ';
            res += ':( Species unknown at GBIF ';

            return res;
        };

        var GBIFSpeciesMatch = function () {
            $('#results').empty();

            var params = {
                rank: 'species',
                name: conf.sn_value_selector.val()
            };

            $.getJSON('http://api.gbif.org/v1/species/match', params, function (r) {
                var res;

                switch (r.matchType) {
                    case "EXACT":
                        res = exactMatchAction(r);
                        break;
                    case "FUZZY":
                        res = fuzzyMatchAction(r);
                        break;
                    case "HIGHERRANK":
                        res = higherrankAction(r);
                        break;
                    case "NONE":
                        res = noneAction(r);
                        break;
                }

                $('#results').html(res);
            })
        };

        var ShowBaseMap = function (mapId) {
            proj4.defs(conf.projection.code, conf.projection.def);
            ol.proj.get(conf.projection.code).setExtent(conf.projection.validityExtent);

            var map = new ol.Map({
                view: new ol.View({
                    maxResolution: 8192.0,
                    projection: ol.proj.get(conf.projection.code),
                    extent: conf.projection.validityExtent,
                    center: [0, 0],
                    zoom: 0,
                    maxZoom: 5,
                }),
                target: mapId,
                renderer: ["canvas", "dom"],
            });

            var source = new ol.source.WMTS({
                url: "//map1{a-c}.vis.earthdata.nasa.gov/wmts-antarctic/wmts.cgi?TIME=" + conf.imageryDate,
                layer: "MODIS_Terra_CorrectedReflectance_TrueColor",
                extent: conf.projection.validityExtent,
                format: "image/jpeg",
                matrixSet: "EPSG3031_250m",

                tileGrid: new ol.tilegrid.WMTS({
                    origin: [-4194304, 4194304],
                    resolutions: [
                        8192.0,
                        4096.0,
                        2048.0,
                        1024.0,
                        512.0,
                        256.0
                    ],
                    matrixIds: [0, 1, 2, 3, 4, 5],
                    tileSize: 512
                })
            });

            var layer = new ol.layer.Tile({source: source});

            map.addLayer(layer);

            return map;
        };

        // lat/lon: EPSG 4326
        var ShowPoint = function (map, lat, lon) {
            var vectorSource = new ol.source.Vector({
                features: [new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.transform([lon, lat], 'EPSG:4326', conf.projection.code))
                })]
            });

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource
            });

            map.addLayer(vectorLayer);
        };

        var ShowMap = function (mapId) {
            map = ShowBaseMap(mapId);
            ShowPoint(map, -73, 167)
        };


        $(function () {
            // 1. Scientific name match
            conf.snsuggest_container_selector.append('<div id="results"></div>');
            // Call on page load...
            GBIFSpeciesMatch();
            // ... And when value change
            conf.sn_value_selector.on('input', GBIFSpeciesMatch);

            // 2. OL map
            var mapId = "map";

            conf.mapContainerSelector.append('<div id="' + mapId + '" style="width: ' + conf.width + 'px; height: ' + conf.height + 'px";></div>');
            ShowMap(mapId);
        });
    </script>

{% endblock %}