{% extends "admin/change_form.html" %}

{% load static %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript">
        var $ = django.jQuery;

        var vectorSource = new ol.source.Vector(); // global, reused between function calls

        var conf = {
            // Map
            mapContainerSelector: $('.field-coordinates div:first-child'),
            lonFieldSelector: $('#id_coordinates_0'),
            latFieldSelector: $('#id_coordinates_1'),
            width: 800, // pixels
            height: 600, // pixels
            imageryDate: '2017-01-16',
            projection: {
                code: 'EPSG:3031',
                def: "+proj=stere +lat_0=-90 +lat_ts=-71 +lon_0=0 +k=1 +x_0=0 +y_0=0 " +
                "+datum=WGS84 +units=m +no_defs",
                validityExtent: [-4194304, -4194304, 4194304, 4194304]
            }
        };

        var showBaseMap = function (mapId) {
            proj4.defs(conf.projection.code, conf.projection.def);
            ol.proj.get(conf.projection.code).setExtent(conf.projection.validityExtent);

            var map = new ol.Map({
                view: new ol.View({
                    maxResolution: 8192.0,
                    projection: ol.proj.get(conf.projection.code),
                    extent: conf.projection.validityExtent,
                    center: [0, 0],
                    zoom: 0,
                    maxZoom: 5,
                }),
                target: mapId,
                renderer: ["canvas", "dom"],
            });

            var source = new ol.source.WMTS({
                url: "//map1{a-c}.vis.earthdata.nasa.gov/wmts-antarctic/wmts.cgi?TIME=" + conf.imageryDate,
                layer: "MODIS_Terra_CorrectedReflectance_TrueColor",
                extent: conf.projection.validityExtent,
                format: "image/jpeg",
                matrixSet: "EPSG3031_250m",

                tileGrid: new ol.tilegrid.WMTS({
                    origin: [-4194304, 4194304],
                    resolutions: [
                        8192.0,
                        4096.0,
                        2048.0,
                        1024.0,
                        512.0,
                        256.0
                    ],
                    matrixIds: [0, 1, 2, 3, 4, 5],
                    tileSize: 512
                })
            });

            var baseMap = new ol.layer.Tile({source: source});

            var fill = new ol.style.Fill({
                color: 'rgba(255,0,0,0.8)'
            });

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
                style: new ol.style.Style({
                    image: new ol.style.Circle({
                        fill: fill,
                        radius: 8
                    }),
                    fill: fill,
                })
            });

            map.addLayer(baseMap);
            map.addLayer(vectorLayer);

            return map;
        };

        // lat/lon: EPSG 4326
        var ShowPoint = function (lat, lon, map) {
            var reproject = function(lat, lon) {
                return ol.proj.transform([lon, lat], 'EPSG:4326', conf.projection.code)
            };

            vectorSource.clear();

            var feature = new ol.Feature({
                geometry: new ol.geom.Point(reproject(lat, lon))
            });

            vectorSource.addFeature(feature);

            // Move the viewport if necessary
            var mapExtent = map.getView().calculateExtent(map.getSize());
            if (!ol.extent.containsExtent(mapExtent, feature.getGeometry().getExtent())) {
                map.getView().setCenter(reproject(lat, lon));
            }
        };

        $(function () {
            // OL map
            var mapId = "map";

            conf.mapContainerSelector.append('<div id="' + mapId + '" style="width: ' + conf.width + 'px; height: ' + conf.height + 'px";></div>');
            var map = showBaseMap(mapId);

            ShowPoint(conf.latFieldSelector.val(), conf.lonFieldSelector.val(), map);

            conf.lonFieldSelector.add(conf.latFieldSelector).change(function(){
                ShowPoint(conf.latFieldSelector.val(), conf.lonFieldSelector.val(), map);
            });

        });
    </script>
{% endblock %}